astroid==2.11.2
blessings==1.7
bpython==0.22.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
curtsies==0.3.10
cwcwidth==0.1.6
dill==0.3.4
Flask==2.1.1
greenlet==1.1.2
idna==3.3
importlib-metadata==4.11.3
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.1
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
mccabe==0.7.0
packaging==21.3
parso==0.8.3
platformdirs==2.5.2
pudb==2022.1.1
Pygments==2.11.2
pylint==2.13.5
pyparsing==3.0.8
pyxdg==0.27
requests==2.27.1
six==1.16.0
tomli==2.0.1
typing_extensions==4.2.0
urllib3==1.26.9
urwid==2.1.2
urwid-readline==0.13
Werkzeug==2.1.1
wrapt==1.14.0
zipp==3.8.0
