<!DOCTYPE html>
<html>
<head>
    <title>Prices</title>
    <script src="/static/plotly-2.11.1.min.js"></script>
</head>
<body>

    <form method="post" action="/">
        <select name="current_topic">
            {% for name in names %}
                <option name="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
    </form>

    <div id="ticker_prices" style="width: 1200px; height: 400px; margin-top: 3em;"></div>

<script>
    var ply = document.getElementById('ticker_prices');

    function startNewGraph(name, data) {
        lastdata = data;

        var x_data = [];
        var y_data = [];
        var value = 0;
        data.forEach(element => {
            x_data.push(new Date(element[0]));
            value += element[1];
            y_data.push(value);
        });

        var data = [
            {
                x: x_data,
                y: y_data,
                type: 'scatter',
                name: name
            }
        ];

        var layout = {
            showlegend: true,
            legend: {
                x: 1,
                xanchor: 'right',
                y: 1
            }
        }

        Plotly.newPlot(ply, data, layout);
    }
</script>

<script>
    var checkingInterval = 100;
    var redrawDelay = 50;
    var checkingAmounts = 30;
    var sendAndReceiveDelay = 100;
    var firstSendingDelay = 100;
    var unprocessedResponses = [];
    var redrawTimerID;

    var socket = new WebSocket('ws://{{ WS_HOST }}:{{ WS_PORT }}');
    socket.addEventListener("open", function (event) {
    });
    socket.addEventListener("message", function (event) {
        var data = JSON.parse(event.data);
        if (data.msg) {
            unprocessedResponses.push(data);
        }
        else if (data.error) {
            console.error(data.error, data.details);
        }
        else {
            ply.data[0].x.push(new Date(data.date));
            ply.data[0].y.push((ply.data[0].y.length ? ply.data[0].y[ply.data[0].y.length - 1] : 0) + data.delta);

            clearTimeout(redrawTimerID);
            redrawTimerID = setTimeout(Plotly.redraw, redrawDelay, ply);
        }
    });
    socket.addEventListener("close", function (event) {
        console.error("WS closed");
    });
    socket.addEventListener("error", function (event) {
        console.error("WS errored");
    });

    function sendRequest(msg) {
        return new Promise(function(resolve, reject) {
            (function loopcheck(retries_left) {
                if (socket.readyState == WebSocket.CLOSING || socket.readyState == WebSocket.CLOSED) {
                    return reject("Sending: WS has been closed");
                }

                if (socket.readyState == WebSocket.OPEN) {
                    socket.send(msg);
                    return setTimeout(resolve, sendAndReceiveDelay);
                }

                console.log("delay sendRequest");
                setTimeout(function() { loopcheck(retries_left - 1); }, checkingInterval);
            })(checkingAmounts);
        });
    }

    function checkResponse(msg_value) {
        return new Promise(function(resolve, reject) {
            (function loopcheck(retries_left) {
                if (!retries_left) {
                    return reject("Response timeout");
                }
                if (socket.readyState == WebSocket.CLOSING || socket.readyState == WebSocket.CLOSED) {
                    return reject("Receiving: WS has been closed");
                }

                for(var index in unprocessedResponses) {
                    if (unprocessedResponses[index].msg == msg_value) {
                        unprocessedResponses.splice(index, 1);
                        return resolve();
                    }
                }

                console.log("delay checkResponse");
                setTimeout(function() { loopcheck(retries_left - 1); }, checkingInterval);
            })(checkingAmounts);
        });
    }

    async function socketSendAndReceive(msg) {
        await sendRequest(msg);
        return await checkResponse("OK");
    }

    async function preloadData(url = '') {
        const response = await fetch(url, {
            method: 'GET', // *GET, POST, PUT, DELETE, etc.
            mode: 'no-cors', // no-cors, *cors, same-origin
            cache: 'default', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {'Content-Type': 'application/json'},
            redirect: 'follow', // manual, *follow, error
        });

        return await response.json(); // parses JSON response into native JavaScript objects
    }

    function startMonitoringTopic(topic = '') {
        location.hash = topic;

        preloadData('/initial_data?topic=' + topic + '&period=last')
            .then((data) => {
                var last_unixtime = data.length ? data[data.length - 1][0] : 0;

                startNewGraph(topic, data);

                socketSendAndReceive('{"cmd": "subscribe", "topic": "' + topic + '", "after": "' + last_unixtime + '"}')
                    .catch(function (err) {
                        console.error(err);
                    });
            }
        );
    }

    var selector;
    addEventListener('DOMContentLoaded', (event) => {
        selector = document.getElementsByName('current_topic')[0];

        setTimeout(startMonitoringTopic, firstSendingDelay, selector.value);

        selector.addEventListener('change', (event) => {
            socketSendAndReceive('{"cmd": "unsubscribe_all"}')
                .catch(function (err) {
                    console.error(err);
                });
            startMonitoringTopic(selector.value);
        });
    });

</script>

</body>
</html>
